$phone: 500px;
$tablet: 800px;

.landing-background {
  background-image: url(../../vivlio.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  @media (max-width: $phone) {
    background: #C9C8C6;
  }
}

.landing-content {
  position: relative;
  z-index: 98;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $phone) {
    height: 60vh;
    align-items: center;
    border: 1px solid black;
  }
}

.cta {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 4.5rem;
  padding-bottom: 2%;
  width: 20%;
  margin-top: 5%;
  margin-left: 5%;
  text-align: justify;

  @media (max-width: $phone) {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 35%;
    padding: 10%;

  }
}

.sign-up {
  margin-left: 5%;
  width: 1%;

  @media (max-width: $phone) {
    width: 36%;
    text-align: center;
    margin-left: 0;
  }
}

.landing-footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
  z-index: 98;
  background: #aba2a4;
  opacity: 0.7;

  @media (max-width: $phone) {
    flex-direction: column;
    align-items: center;
    height: 35vh;
    background: #C9C8C6;
    opacity: 1;
    border: 1px solid red;
  }
}

.landing-icon {
  position: relative;
  z-index: 98;
  font-size: 7.6rem;
  background: white;
  padding: 2.5%;
  border-radius: 50%;
  margin-left: 2%;
  margin-top: 3.2%;
  @media (max-width: $phone) {
    border: 1px solid red;
    padding: 10%;
    font-size: 10rem;
  }
}

.icon-group {
  position: relative;
  z-index: 98;
  display: flex;
  padding-bottom: 1.5%;
  justify-content: center;
  width: 25%;
  align-items: center;
  @media (max-width: $phone) {
    width: 47%;
    padding-bottom: 0;
    flex-direction: column;
  }

  .landing-text {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    text-align: justify;
    margin-top: 3.5%;
    margin-left: 2%;
    color: white;
    font-size: 2.3rem;
    @media (max-width: $phone) {
      font-size: 0.8rem;
      margin-top: 0;
      border: 1px solid black;
      justify-content: center;
      width: 100%;
    }
  }
}
