$phone: 500px;
$tablet: 800px;

.landing-background {
  background-image: url(../../vivlio.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid black;
  zIndex: 97;

  @media (max-width: $phone) {
  min-width: 50%;
  background-position: center top;
  }
}

.landing-content {
  border: 1px solid black;
  position: relative;
  z-index: 98;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;


  @media (max-width: $phone) {
  height: 70vh;
  align-items: center;
  }
}


.cta {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  padding-bottom: 2%;
  width: 20%;
  margin-left: 5%;
  text-align: justify;

  @media (max-width: $phone) {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 35%;
  }
}

.signup-btn {
  background: #6BAFE1;
  color: #D5E6F2;
  border: none;
  border-radius: 7%;
  width: 8%;
  padding: .7rem;
  margin-left: 5%;

  @media (max-width: $phone) {
   width: 20%;
   text-align: center;
   margin-left: 0;
  }
}

.landing-footer {

  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
  z-index: 98;
  background: #ABA2A4;
  opacity: 0.7;

  @media (max-width: $phone) {
  flex-direction: column;
  align-items: center;
  height: 30vh;
  border: 1px solid red;
  }
}

.icon {
  position: relative;
  z-index: 98;
  font-size: 2.8rem;
  background: white;
  padding: 2%;
  border-radius: 50%;
  margin-top: 3.2%;
  @media (max-width: $phone) {
  padding: 5%;
}
}

.icon-group {
  display: flex;
  padding-bottom: 1.5%;
  justify-content: center;
  width: 35%;
  align-items: center;
  border: 1px solid black;
  @media (max-width: $phone) {
  width: 47%;
  padding-bottom: 0;
  flex-direction: column;
}
}

p {
  font-size: 1rem;
  margin-left: 4%;
  margin-top: 3.5%;
  margin-bottom: 0;
  text-align: justify;
  color: white;
  @media (max-width: $phone) {
  font-size: .8rem;
  margin-top: 0;
}
}
