$phone: 500px;
$small-phone: 360px;
$small-iphone: 320px;
$medium-iphone: 375px;
$medium-phone: 414px;
$tablet: 800px;


.landing-background {
  background-image: url(../../vivlio.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  @media (max-width: $phone) {
    background: #C9C8C6;
  }
}

.landing-content {
  position: relative;
  z-index: 98;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $phone) {
    height: 60vh;
    align-items: center;
  }
}

.cta {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 4.5rem;
  padding-bottom: 2%;
  width: 20%;
  margin-top: 5%;
  margin-left: 5%;
  text-align: justify;

  @media (max-width: $phone) {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 65%;
    padding: 10%;
  }

  @media (max-width: $medium-phone) {
    margin-top: 65%;
    font-size: 2.5rem;
  }

  @media (max-width: $medium-iphone) {
    margin-top: 75%;
    padding: 1rem;
  }

  @media (max-width: $small-phone) {
    font-size: 3rem;
    margin-top: 55%;
  }
}

.sign-up {
  margin-left: 5%;
  width: 1%;

  @media (max-width: $phone) {
    width: 36%;
    text-align: center;
    margin-left: 0;
  }

  @media (max-width: $medium-phone) {
    width: 40%;
  }

  @media (max-width: $small-phone) {
    width: 50%;
  }
}

.sign-up {
  &.custom-button {
    @media (max-width: $medium-phone) {
      min-width: 12rem;
      padding: 0 2rem;
      margin-left: 2.2rem;
      font-size: 1.5rem;
    }

    @media (max-width: $medium-iphone) {
      margin-left: 1.5rem;
    }

    @media (max-width: $small-phone) {
      margin-left: 2.8rem;
    }

    @media (max-width: $small-iphone) {
      margin-left: 1.9rem;
    }
  }
}

.landing-footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
  z-index: 98;
  background: #aba2a4;
  opacity: 0.7;

  @media (max-width: $phone) {
    flex-direction: column;
    align-items: center;
    height: 40vh;
    background: #C9C8C6;
    opacity: 1;
  }

  @media (max-width: $small-phone) {
    border: none;
  }
}

.landing-icon {
  position: relative;
  z-index: 98;
  font-size: 7.6rem;
  background: white;
  padding: 2.5%;
  border-radius: 50%;
  margin-left: 2%;
  margin-top: 3.2%;
  @media (max-width: $phone) {
    padding: 10%;
    font-size: 10rem;
  }

  @media (max-width: $medium-phone) {
    font-size: 6rem;
    padding: 5%;
  }

  @media (max-width: $small-phone) {
    font-size: 5rem;
    padding: 7%;
  }
}

.icon-group {
  position: relative;
  z-index: 98;
  display: flex;
  padding-bottom: 1.5%;
  justify-content: center;
  width: 25%;
  align-items: center;
  @media (max-width: $phone) {
    width: 70%;
    padding-bottom: 0;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
  }

  @media (max-width: $medium-phone) {
    width: 80%;
    margin-top: 2rem;
    border: none;
  }

  @media (max-width: $medium-iphone) {
    width: 90%;
    margin-top: 0;
  }

  @media (max-width: $small-phone) {
  width: 85%;
  margin-top: 1rem;
  border: none;
  }

  .landing-text {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    text-align: justify;
    margin-top: 3.5%;
    margin-left: 2%;
    color: white;
    font-size: 2.3rem;
    @media (max-width: $phone) {
      font-size: 1.6rem;
      justify-content: center;
      width: 100%;
    }
    @media (max-width: $small-phone) {
      font-size: 1.2rem;
    }
  }
}
