.landing-content {
  border: 1px solid black;
  position: relative;
  z-index: 98;
  height: 31rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.cta {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  padding-bottom: 2%;
  width: 20%;
  margin-left: 5%;
  text-align: justify;
}

.signup-btn {
  background: #6BAFE1;
  color: #D5E6F2;
  border: none;
  border-radius: 7%;
  width: 8%;
  padding: .7rem;
  margin-left: 5%;
}

.landing-footer {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: center;
  justify-content: center;
  z-index: 98;
}

.icon {
  border: 1px solid black;
  position: relative;
  z-index: 98;
  font-size: 2.8rem;
  background: white;
  padding: 2%;
  border-radius: 50%;
  border: 1px solid red;
  margin-top: 3.2%;
}

.icon-group {
  border: 1px solid black;
  display: flex;
  padding-bottom: 1.5%;
  justify-content: center;
  width: 35%;
  align-items: center;
}

p {
  font-size: 1rem;
  margin-left: 4%;
  margin-top: 3.5%;
  margin-bottom: 0;
  text-align: justify;
}
