.landing-content {
  border: 1px solid black;
  position: relative;
  z-index: 98;
  height: 31rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.cta {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  padding-bottom: 2%;
  width: 20%;
  margin-left: 5%;
  text-align: justify;
}

.signup-btn {
  background: #6BAFE1;
  color: #D5E6F2;
  border: none;
  border-radius: 7%;
  width: 8%;
  padding: .7rem;
  margin-left: 5%;
}
