#hero {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); 
	align-items: center;

	div {
		text-align: left;
		margin-bottom: 30px;

		p {
			margin-bottom: 2.5rem;
		}

		@media (max-width: $phone) {
			text-align: center;
		}
	}

	img {
		width: 85%;
		margin: 0 auto;
	}
}

#milestones {
	width: 100%;
	padding: 3.5em 12.5%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #6c63ff;
	color: #fff;

	text-align: center;
}

#testimonials {
	display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(240px, 1fr) minmax(240px, 1fr) minmax(240px, 1fr));
	grid-template-columns: [main-start] 1fr [content-start] 1fr [content-end] 1fr [main-end];
	grid-gap: 10px;

	.heading {
		grid-column-start: main-start;
		grid-column-end: main-end;
		
		h3 {
			text-align: center;
			font-size: 5em;
		}

		hr {
			border-color: #6c6a7d;
		}
	}
	
	.test-cont {
		background: #fff;
		padding: 30px;
		border-radius: 5px;
		overflow: hidden;
		display: flex;
		flex-flow: column;
		justify-content: space-between;

		.test-quote {
			font-size: 1.5rem;
			margin-bottom: 15px;
			position: relative;

			// &::before {
			// 	content: '"';
			// 	color: #e8e6ff;
			// 	position: absolute;
			// 	font-size: 10rem;
			// 	top: -63px;
			// 	left: -33px;
			// }

			&::after {
				content: '"';
				color: #f6f5ff;
				position: absolute;
				font-size: 10rem;
				right: 0;
				// top: 5px;
			}
		}

		.test-author {
			color: #7d7d7d;
		}

		@media (max-width: $phone) {
			grid-column-start: main-start;
			grid-column-end: main-end;
		}
	}
}

.cta {
	font-size: 4.5rem;
	margin-bottom: 2.5rem;
	color: #52524c;

	@media (max-width: $phone) {
		text-align: center;
	}

	@media (max-width: $medium-phone) {
		font-size: 3rem;
	}

	@media (max-width: $medium-iphone) {
		padding: 1rem;
	}

	@media (max-width: $small-phone) {
		font-size: 3rem;
	}
}

.sign-up {

	&.custom-button {
		
		@media (max-width: $phone) {
			margin: 0 auto;
			min-width: 12rem;
			padding: 0 2rem;
			font-size: 1.5rem;
		}
	}

	@media (max-width: $phone) {
		width: 36%;
		text-align: center;
		margin-left: 0;
	}

	@media (max-width: $medium-phone) {
		width: 40%;
	}

	@media (max-width: $small-phone) {
		width: 50%;
	}
	
}

.landing-footer {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	background: #aba2a4;
}

.landing-icon {
	position: relative;
	z-index: 98;
	font-size: 7.6rem;
	background: white;
	padding: 2.5%;
	border-radius: 50%;
	margin-left: 2%;
	margin-top: 3.2%;
	@media (max-width: $phone) {
		padding: 10%;
		font-size: 10rem;
	}

	@media (max-width: $medium-phone) {
		font-size: 6rem;
		padding: 5%;
	}

	@media (max-width: $small-phone) {
		font-size: 5rem;
		padding: 7%;
	}
}

.icon-group {
	position: relative;
	z-index: 98;
	display: flex;
	padding-bottom: 1.5%;
	justify-content: center;
	width: 25%;
	align-items: center;
	@media (max-width: $phone) {
		width: 70%;
		padding-bottom: 0;
		flex-direction: column;
		margin-top: 3rem;
		align-items: center;
	}

	@media (max-width: $medium-phone) {
		width: 80%;
		margin-top: 2rem;
		border: none;
	}

	@media (max-width: $medium-iphone) {
		width: 90%;
		margin-top: 0;
	}

	@media (max-width: $small-phone) {
		width: 85%;
		margin-top: 1rem;
		border: none;
	}

	.landing-text {
		display: flex;
		justify-content: flex-start;
		width: 80%;
		text-align: justify;
		margin-top: 3.5%;
		margin-left: 2%;
		color: white;
		font-size: 2.3rem;
		@media (max-width: $phone) {
			font-size: 1.6rem;
			justify-content: center;
			width: 100%;
		}
		@media (max-width: $small-phone) {
			font-size: 1.2rem;
		}
	}
}
