.bookDisplay,
.bookCards {
	display: flex;
	flex-wrap: wrap;
	width: auto;
	justify-content: space-evenly;
}

.bookCard {
	background-color: #fafafa;
	margin: 10px;
	padding: 20px 20px 20px 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	align-items: center;
	text-align: center;
	position: relative;
}

/* .bookCard:hover {
	transform: translateY(-0.5rem);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
} */

/* @keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
} */

.bookTitle {
	font-size: 1.6rem;
	font-weight: bold;
	padding: 2%;
}

.author {
	font-size: 1.3rem;
	padding: 1%;
	font-weight: 300;
}

.coverArt {
	float: left;
	width: 18rem;
	margin-right: 20px;
}

.bookSummary {
	font-size: 1.3rem;
	padding: 20px 10px;
	line-height: 12pt;
	padding: 0.5em;
	font-weight: 300;
	text-overflow: ellipsis;
}

.learnMore {
	font-size: 1.2rem;
	margin: 2%;
}

.btnDivider {
	font-size: 1rem;
	padding: 2%;
}

@media (max-width: 1077px) {
	.bookDisplay,
	.bookCards {
		justify-content: space-evenly;
	}
}
