.dashboard-cont {
	padding: 30px;
}

.dashboard {
	width: 60%;
	background: #fff;
	border: 1px solid #bbbbbb;
	border-radius: 5px 5px 0 0;

	.tabs {
		display: flex;
		flex-flow: row nowrap;
		background-color: #ebebeb;
		border-radius: 5px 5px 0 0;

		p {
			padding: 10px 20px;
			border-bottom: 2px solid transparent;
			cursor: pointer;

			&:hover {
				background-color: #fff;
			}
		}

		.active {
			border-bottom: 2px solid #000;

			&:hover {
				background-color: inherit;
				color: #000;
			}
		}
	}

	h2 {
		margin-bottom: 15px;
	}

	p {
		font-size: 1.4rem;
	}

	.bookCard {
		width: 100%;
		display: flex;
		flex-flow: row wrap;

		.coverArt {
			margin: 0;
		}

		.bookCover {
			width: 16.6rem;
			height: 16.6rem;
			object-fit: cover;
		}

		.bookTitle {
			font-size: 1.7rem;
			font-weight: bold;
			margin-bottom: 1.7rem;
			padding: 0;
		}

		.bookAuthor {
			font-size: 1.4rem;
			padding: 0;
		}

		.bookCardCont {
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
			padding: 1.0rem 2.0rem;
		}

		button {
			margin-bottom: 0;
			padding: 1.0rem 1.7rem;
		}
	}

	.account {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		.half-col {
			width: 50%;
			padding: 0 15px;
		}

		form {
			display: flex;
			flex-flow: column nowrap;

			label {
				font-size: 1.4rem;
				font-weight: normal;
				text-align: left;
			}

			button {
				margin-top: 20px;
			}
		}
	}

	section {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	.remove-book {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		width: 25px;
		height: 25px;
		border: 1px solid #000;
		padding: 0 1px;
		display: flex;
		align-items: center;
		justify-content: center;
		outline: none;

		p {
			position: absolute;
			top: 2px;
			left: 4px;
			font-size: 2.75rem;
			line-height: 1.4rem;
			color: inherit;
		}

		&:hover {
			border-color: #f00;
			background-color: #ff8a8a;
			color: #f00;
		}
	}
}

@media (max-width: $phone) {
	.dashboard {
		width: 100%;
	}

	.account {
		flex-flow: column nowrap;

		.half-col {
			width: 100%;
		}
	}
}