.dashboard {
  width: 60%;
  margin: 0 auto;
  background: lightgray;
  border: 1px solid grey;
  border-radius: 5px 5px 0 0;

  .tabs {
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
    border-radius: 5px 5px 0 0;

    p {
      padding: 10px 20px;
      border-bottom: 2px solid transparent;
      cursor: pointer;

      &:hover {
        background-color: #efefef;
      }

      .active {
        background-color: #808080;
        border-bottom: 2px solid #000;
        color: #fff;
      }
    }
  }

  section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .bookCard {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .remove-book {
    position: absolute;
    top: 0;
    left: 0;
    background: #c5c5c5;
    border: 2px solid #696969;
    color: #696969;
    font-size: 4rem;
    line-height: 0.9rem;
    padding: 0 1px;
    display: flex;
    align-items: baseline;
    outline: none;

    &:hover {
      border-color: #f00;
      color: #f00;
      background-color: #ff8a8a;
    }
  }
}