.bookDisplay,
.bookCards {
	display: flex;
	flex-wrap: wrap;
	width: auto;
	justify-content: space-evenly;
}

.bookCard {
	background-color: #f2f2f2;
	margin: 10px;
	border: 1px solid #e4e4e4;
	position: relative;
}

.bookTitle {
	font-size: 1.6rem;
	font-weight: bold;
	padding: 2%;
}

.author {
	font-size: 1.3rem;
	padding: 1%;
	font-weight: 300;
}

.coverArt {
	/* float: left; */
	height: 100%;
	width: auto;
	margin-right: 20px;
}

.bookSummary {
	font-size: 1.3rem;
	padding: 20px 10px;
	line-height: 12pt;
	padding: 0.5em;
	font-weight: 300;
	text-overflow: ellipsis;
}

.learnMore {
	font-size: 1.2rem;
	margin: 2%;
}

.btnDivider {
	font-size: 1rem;
	padding: 2%;
}

@media (max-width: 1077px) {
	.bookDisplay,
	.bookCards {
		justify-content: space-evenly;
	}
}
