body {
  font-family: 'Open Sans', sans-serif;
  /* background:#3498db; */
  margin: 0 auto 0 auto;
  width: 100%;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

.login-title {
  font-size: 2.5rem;
  color: #525252;
  padding: 2%;
  text-transform: uppercase;
  font-weight: 300;
}
.box {
  background: white;
  width: 450px;
  border-radius: 15px;
  margin: 0 auto 0 auto;
  padding: 4% 4%;
  border: #3a3a3b 1px solid;
}
.username {
  background: #fcfdfd;
  border: #ccc 1px solid;
  /* border-bottom: #ccc 2px solid; */
  padding: 3%;
  width: 350px;
  color: rgba(61, 60, 60, 0.205);
  margin-top: 10px;
  font-size: 1.5rem;
  border-radius: 3px;
}
.username:active {
  color: red;
}

.button {
  background: #2ecc71;
  width: 125px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 3px;
  border: #27ae60 1px solid;
  margin-top: 20px;
  margin-bottom: 20px;
  /* float: left; */
  /* margin-left: 50px; */
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.button:hover {
  background: #2cc06b;
}
.forgot-password {
  font-size: 1.3rem;
  text-decoration: none;
  color: #525252;
  padding: 2%;
}
.fpwd {
  color: #f1c40f;
  text-decoration: underline;
}
#absoluteCenteredDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 300px;
  text-align: center;
}
.fas.fa-user {
  padding:10px;
  display:inline-block;
  
}
.fas.fa-key {
  padding-right:11px;
}



