body {
  /* background:#3498db; */
  margin: 0 auto 0 auto;
  width: 100%;
  text-align: center;
  margin: 20px 0px 20px 0px;
}


.login-title {
  font-size: 2.5rem;
  color: #525252;
  padding: 2%;
  /* text-transform: uppercase; */
  font-weight: 300;
}
.box {
  background: rgb(224, 234, 247);
  /* background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); */
  width: 450px;
  border-radius: 15px;
  margin: 0 auto 0 auto;
  padding: 4% 4%;
  border: #3a3a3b 1px solid;
 
}



.username {
  background: #fcfdfd;
  border: #ccc 1px solid;
  /* border-bottom: #ccc 2px solid; */
  padding: 3%;
  width: 250px;
  /* color: rgba(61, 60, 60, 0.205); */
  margin-top: 10px;
  font-size: 1.5rem;
  border-radius: 3px;
  font-family: 'BioRhyme', serif;
}


.login-button {
  background: #6bafe1;
  width: 135px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 3px;
  border: #27ae60 1px solid;
  margin-top: 20px;
  margin-bottom: 20px;
  /* float: left; */
  /* margin-left: 50px; */
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition-property: background;
}
.login-button:hover {
  /* border-radius: 10%; */
  background: #4b7a9e;
}
/* .login-button:hover {
  background-color: #6bafe1;
  width:175px;
} */
.forgot-password {
  font-size: 1.3rem;
  text-decoration: none;
  color: #525252;
  padding: 2%;
}
.fpwd {
  color: #f1c40f;
  text-decoration: underline;
}
#absoluteCenteredDiv {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  position:relative;
  margin: 0 auto;
  width: 400px;
  height: 300px;
  /* text-align: center; */
  animation-name:div;
  animation-duration: 1s;
  /* font-family: 'BioRhyme', serif; */
  font-family: 'Arvo', serif;
}
@keyframes div {
  0% {top:-50px;opacity: 0 }
  25%{opacity:.2}
  50% {opacity: .5;}
  100%{top:0px; opacity:1}
}
.fas.fa-user {
  padding:10px;
  display:inline-block;
  
}
.fas.fa-lock {
  padding:10px;
}



.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}



.login100-social-item {
  font-size: 25px;
  color: #fff;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}
.login100-social-item:hover {
color:white;
text-decoration:none;
background-color:#333333;
}

.bg3 {background-color: #ea4335}