.App {
  text-align: center;
}
/* Start Registration css */

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #253a4b;
}

.form-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 4% 4%;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #ffffff;
}

.form-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 200;
  text-align: center;
  padding-bottom: 10%;
}

label {
  text-align: start;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 5px;
}

input {
  border-radius: 3px;
  outline: none;
  padding: 8px 8px;
  border: 1px solid lightgray;
}

input::placeholder {
  font-size: 0.7rem;
  font-weight: 200;
}

.firstName,
.lastName,
.email,
.username,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastName,
.email,
.username,
.password {
  width: 100%;
}

.password {
  position: relative;
}

.sumbit-signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sumbit-signup button {
  cursor: pointer;
  width: 50%;
  background-color: #6cb0e2;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.7px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 5px;
  margin-bottom: 3px;
}

.sumbit-signup button:hover {
  color: #6cb0e2;
  background-color: #fff;
  border: 2px solid #6cb0e2;
  border-radius: 3px;
}

.sumbit-signup span {
  font-size: 0.7rem;
  font-weight: 300;
}

.sumbit-signup a {
  text-decoration: none;
}

.password-icon {
  position: absolute;
  color: #615e61;
  top: 33px;
  right: 8px;
  cursor: pointer;
}

/* End Registration css */
