$phone: 500px;
$tablet: 800px;

.appTitle {
  font-weight: 300;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 15%;
  margin-bottom: 30px;

  @media (max-width: $phone) {
    text-align: center;
    border: 1px solid red;
    position: relative;
    z-index: 98;
  }

  .logo-cont {
    position: relative;
    margin: 0;
    text-align: left;

    @media (max-width: $phone) {
      display: none;
    }
  }

  .logo {
    width: 70px;
  }
}

.app-nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: $phone) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  a {
    color: black;
    text-decoration: none;
    padding: 7px 20px;
    font-weight: 300;
    font-size: 1.8rem;
    &:hover {
      text-decoration: underline;
    }

    @media (max-width: $phone) {
    }
  }

  .login-btn {
    background: #6bafe1;
    padding: 7px 25px;
    border-radius: 5px;
  }
}

/* Pop up Modals */
.warning {
  background: #f00;
  border: #ff0000 solid 2px;
  padding: 10px;
  font-weight: bold;
  font-size: 2rem;
}
