$phone: 500px;
$tablet: 800px;

header {
  display: flex;
  padding: 10px 15%;
  margin-bottom: 30px;

  @media (max-width: $phone) {
    text-align: center;
    border: 1px solid red;
    position: relative;
    z-index: 98;
  }

  .logo-cont {
    position: relative;
    margin: 0;
    width: 75%;
    text-align: left;

    @media (max-width: $phone) {
      display: none;
    }
  }

  .logo {
    width: 70px;
  }
}

.app-nav {
    position: relative;
    z-index: 98;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;

    @media (max-width: $phone) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  a {
    color: black;
    text-decoration: none;
    padding: 7px 20px;
    font-weight: 300;
    font-size: 1.8rem;

    @media (max-width: $phone) {
    
    }
  }

  .login-btn {
    background: #6BAFE1;
    padding: 7px 25px;
    border-radius: 5px;
  }
}
