.card {
  background: #fff;
  padding: 3rem 12rem;
}

.card-title {
  font-weight: 100;
  color: #555f77;
}

.team-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;

  p {
    text-align: center;
    font-weight: bold;
  }

  .about-role {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
}
