@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	// font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI',
	// 	'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
	// 	'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 62.5%;
	background-color: #f5f5f5;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

html {
	font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
p {
	margin: 0;
}
hr {margin: 3em 0;}


.appTitle {
	font-weight: 300;
}

.app-nav {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: center;

	@media (max-width: $phone) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.login-btn {
		color: #fff;
		font-weight: 400;
		font-size: 1.5rem;
		text-transform: uppercase;
		background: #6bafe1;
		padding: 7px 20px;
    	margin-left: 10px;
		border-radius: 3px;
		border: 0;
		transition: 0.2s;

		&:hover {
			background-color: #0c66a8;
		}

		&:active {
			outline: none;
		}
	}

	.logout-btn {
		background-color: #ff0101;
		margin-left: 0.1rem;

		&:hover {
			background-color: darken($color: #b10606, $amount: 1);
		}

		&:active {
			outline: none;
		}
	}

	a {
		color: #4e4e4d;
		padding: 7px 20px;
		font-weight: 400;
		font-size: 1.7rem;

		&:hover {
			&:not(:last-child) {
				color: #2e9dac;
				text-decoration: none;
			}
		}

		&:active,
		&:focus {
			text-decoration: none;
		}

		@media (max-width: $phone) {
			color: #fff;
		}
	}
}

/* Pop up Modals */
.warning {
	background: #f00;
	border: #ff0000 solid 2px;
	padding: 10px;
	font-weight: bold;
	font-size: 2rem;
}
