.bookHeadCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.0rem;

    h1 {
        margin-bottom: 1.0rem;
    }
    
    .searchHolder {
        text-align: right;
    }
}

.booksCont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    column-gap: 1.7rem;
    row-gap: 3.4rem;

    .bookCard {
        margin: 0;
        background-color: transparent;
        border: none;
        text-align: center;
        overflow: hidden;

        .bookTitle {
            margin-bottom: 1.7rem;
        }

        .author, .bookSummary {
            font-size: 1.4rem;
            color: #5e5e5e;
        }

        .bookSummary {
            margin-bottom: 1.7rem;
        }

        .btnDivider {
            margin: 0.5rem auto;
            font-size: 1.3rem;
        }
    }

    .bookCont {
        background-color: purple;
    }

    .coverArt {
        margin-right: 0;
        width: 128px;
        margin-bottom: 1.7rem;
    }
}

.pagination {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    div {
        cursor: pointer;
        height: 37px;
        width: 50px;
        padding: 5px 10px;
        margin: 0 0 10px 5px;
        font-size: 1.8rem;
        text-align: center;
        border: 1px solid #cacaca;
        caret-color: transparent;

        &.active {
            background: #444444;
            color: #ffffff;
        }
    }
}