.bookHeadCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.7rem;
    
    .searchHolder {
        text-align: right;
    }
}

.booksCont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    column-gap: 1.7rem;
    row-gap: 3.4rem;

    .bookCard {
        margin: 0;
        background-color: transparent;
        border: none;
        text-align: center;
        overflow: hidden;

        .bookTitle {
            margin-bottom: 1.7rem;
        }

        .author, .bookSummary {
            font-size: 1.4rem;
            color: #5e5e5e;
        }

        .bookSummary {
            margin-bottom: 1.7rem;
        }

        .btnDivider {
            margin: 0.5rem auto;
            font-size: 1.3rem;
        }
    }

    .bookCont {
        background-color: purple;
    }

    .coverArt {
        margin-right: 0;
        height: 300px;
        margin-bottom: 1.7rem;
    }
}
