.card.contact {
    display: grid;
    // grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 3.4rem;
    justify-content: space-evenly;

    .info {
        width: 100%;

    }

    h1, h2, h3, h4, h5 {
        margin-bottom: 1.7rem;
    }

    label {
        font-weight: normal;
    }

    input, textarea {
        width: 100%;
        margin-bottom: 1.7rem;
        display: block;
        font-size: 1.7rem;
        padding: 0.5rem 1.0rem;
        border: 1px solid #cacaca;
    }
}

label {
    font-size: 2em;
}
.page-wrap {
    .card:first-child {
        margin-bottom: 25px;
    }
}


@media (max-width: 840px) {
    .info {
        padding-bottom: 1.7rem;
        margin-bottom: 3.4rem;
        border-bottom: 1px solid #000;
    }
}
