h1 {font-size: 3rem;}
h2 {font-size: 2.6rem;}
h3 {font-size: 2.2rem;}
hr {margin-bottom: 30px;}
p {font-size: 1.6rem; color: $sec-color}
section {margin-bottom: 30px;}
a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}