h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.6rem;
}
h3 {
	font-size: 2.2rem;
}
// h1, h2, h3, h4, h5, h6 {font-family: fantasy,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto';}
hr {
	margin-bottom: 30px;
}
p {
	font-size: 1.6rem;
	color: $sec-color;
}
section {
	width: 75%;
	margin: 0 auto 100px;
}
a {
	text-decoration: none;
}
