header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 10px 12.5%;
	margin-bottom: 100px;
	background-color: #fff;

	@media (max-width: $phone) {
		text-align: center;
		position: relative;
		flex-flow: column nowrap;
		z-index: 98;
		background: rgba(123, 123, 123, 0.5);
	}

	.logo-cont {
		position: relative;
		margin: 0;
		text-align: left;

		@media (max-width: $phone) {
			text-align: center;
		}
	}

	.logo {
		width: 70px;
	}
}

.nav {
	flex-direction: column;
	padding: 0.5em;
}

.bookSearch {
	margin: 1em 0;
}

.menuOpen {
	position: relative;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5em;
	margin: 3em 1em;
}

.title {
	font-size: 3em;
	font-weight: 400;
	color: #6558f5;
}

::placeholder {
	color: #8d9194;
}

.bookSearch {
	font-size: 1.5rem;
	padding: 0.25em 0.5em;
	border: 2px solid #c5ced6;
	color: #5d5e5e;
	border-radius: 5px 0px 0px 5px;
	caret-color: #6558f5;
	outline: none;
}

.searchBtn {
	background: none;
	font-size: 1.5rem;
	border: 2px solid #c5ced6;
	border-left: none;
	padding: 0.25em 0.5em;
	border-radius: 0px 5px 5px 0px;
	outline: none;
	color: #6558f5;
	transition: ease-out 0.25s;

	&:hover {
		background: #6558f5;
		color: white;
		transition: ease-in 0.25s;
	}

	i {
		transition: ease 0.25s;

		&:active {
			transform: rotateZ(90deg);
			transition: ease 0.25s;
		}
	}
}

.actionBtn {
	font-size: 2em;
	background: none;
	border: none;
	outline: none;
}

.menu {
	background: #6558f5;
	color: white;
	font-size: 1.6em;
	padding: 0.25em 0.5em;
	border: 2px solid #6558f5;
	border-radius: 5px;
	transition: ease-out 0.25s;
	transition: ease 0.1s;
	outline: none;

	&:hover {
		background: white;
		color: #6558f5;
		border: 2px solid #6558f5;
		transition: ease-in 0.25s;
	}
}

.filter {
	padding: 0.25em 0.5em;
	font-size: 1.5em;
	color: #6558f5;
	outline: none;
	margin: auto 0.5em;
	border: 2px #6558f5 solid;
	border-radius: 5px;
}

.menuClosed {
	display: none;
}

.menuOpen {
	display: block;
	z-index: 5;
	position: absolute;
	font-size: 1.8em;
	list-style-type: none;
	background: #fff;
	padding: 0.25em 1.5em;
	border-radius: 5px;
	border: 1px solid #6558f5;
	right: 0;
	margin-top: 0.125em;
	
	li {
		color: #6558f5;
		text-align: center;
		width: inherit;
		margin: 0.125em auto;
	}
}

.menuOpen li:hover,
.logout:hover {
	cursor: pointer;
}

.logout {
	background: #6558f5;
	color: white;
	border: none;
	padding: 0.25em 1em;
	font-size: 1em;
	border-radius: 5px;
	outline: none;
	transition: ease 0.1s;
}

@media (max-width: 730px) {
	.title {
		margin: 0;
	}
}
