.login-title {
	font-size: 2.5rem;
	color: #525252;
	margin-bottom: 5.0rem;
	font-weight: 300;
}
.box {
	background: #e0eaf7;
	padding: 4% 4%;
	border: #3a3a3b 1px solid;
}

.login {
    p {
        text-align: center;
    }

    form {
        display: flex;
        flex-flow: column nowrap;
        width: 25%;
        margin: 0 auto;

        label {
            font-size: 1.5rem;
            font-weight: 100;
        }

        input {
            margin-bottom: 1rem;
            margin-top: 0;
            padding: 10px;
            font-size: 1.5rem;
            border: #ccc 1px solid;

            &:focus {
                border-color: #6bafe1;
            }
        }

        button {
            background: #6bafe1;
            width: 135px;
            padding-top: 5px;
            padding-bottom: 5px;
            color: white;
            border-radius: 3px;
            border: #27ae60 1px solid;
            margin-top: 20px;
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 1.5rem;
            text-transform: uppercase;
            
            &:hover {
                background: #0c66a8;
            }
        }
    }

}
@media (max-width: $phone) {
    .login {
        form {
            width: 100%;
        }
    }
}

.forgot-password {
	font-size: 1.3rem;
	text-decoration: none;
	color: #525252;
	padding: 2%;
}

.fas {
    &.fa-user {
        padding: 10px;
        display: inline-block;
    }
    &.fa-lock {
	    padding: 10px;
    }
}

.alt-login {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .icons {
        display: flex;
        flex-flow: row wrap;
    }
    
    i {
        position: relative;
        font-size: 25px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #337ab7;
        margin: 5px;
        
        &:hover {
            color: white;
            text-decoration: none;
            background-color: #333333;
        }

        &.fab:before {
            position: relative;
            left: 12px;
            top: 12px;
        }
    }
    
}
