.custom-button {
  min-width: 18rem;
  width: auto;
  height: auto;
  letter-spacing: 0.7px;
  line-height: 45px;
  padding: 0 35px 0 35px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.sign-up {
  color: #ffffff;
  background-color: #6cb0e2;
  font-size: 1.7rem;
  border-radius: 3px;
  transition-duration: 0.3s;
  transition: all 0.3s ease 0s;

  &:hover {
    color: #ffffff;
    background-color: #0b67a8;
  }

  &:active {
    transform: translateY(3px);
  }
}

.register-button {
  background-color: #6cb0e2;
  color: #ffffff;
  border: 1px solid #6cb0e2;
  border-radius: 3px;
  transition-duration: 0.3s;
  transition: all 0.3s ease 0s;

  &:hover {
    color: #6cb0e2;
    background-color: #1867a0;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
  }

  &:active {
    transform: translateY(3px);
  }
}

.google-button {
  background-color: #fbbc05;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #fbbc05;
  border-radius: 3px;
  transition-duration: 0.3s;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: #e8b923;
    border: 1px solid #ffffff;
    border-radius: 3px;
  }

  &:active {
    transform: translateY(3px);
  }
}

.borrowBookBtn {
  background-color: #e5755b;
  border: 1px solid #e5755b;
  color: #ffffff;
  border-radius: 3px;
  transition-duration: 0.3s;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: #bf4d33;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 3px;
  }

  &:active {
    transform: translateY(3px);
  }
}

.lendBookBtn {
  background-color: #1881dd;
  border: 1px solid #1881dd;
  color: #ffffff;
  border-radius: 3px;
  transition-duration: 0.3s;

  &:hover {
    background-color: #025093;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
  }

  &:active {
    transform: translateY(3px);
  }
}

.learnMoreBtn {
  background: #525252;

  a {
    color: #fff;
    line-height: inherit;
  }

  &:hover {
    background-color: #000;
    transition-duration: 0.3s;
  }
}

.availability {
  .false{
    background: #f00;
  }
  
  .true {
    background: #0f0;
  }

  &:active {
    background: #cacaca;
  }
}