.custom-button {
  min-width: 170px;
  width: auto;
  height: auto;
  letter-spacing: 0.7px;
  line-height: 45px;
  padding: 0 35px 0 35px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.register-button {
  background-color: #6cb0e2;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 3px;

  &:hover {
    color: #6cb0e2;
    background-color: #fff;
    border: 1px solid #6cb0e2;
    border-radius: 3px;
  }
}

.google-button {
  background-color: #fbbc05;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #fbbc05;
  border-radius: 3px;

  &:hover {
    background-color: #fff;
    border: 1px solid #fbbc05;
    border-radius: 3px;
  }
}

.borrowBookBtn {
  background-color: #e5755b;
  border: 1px solid #e5755b;
  color: #ffffff;
  border-radius: 3px;

  &:hover {
    background-color: #ffffff;
    border: 1px solid #e5755b;
    color: #e5755b;
    border-radius: 3px;
  }
}

.lendBookBtn {
  background-color: #1881dd;
  border: 1px solid #1881dd;
  color: #ffffff;
  border-radius: 3px;

  &:hover {
    background-color: #ffffff;
    color: #1881dd;
    border: 1px solid 2159b3;
    border-radius: 3px;
  }
}
