.custom-button {
	font-size: 1.2rem;
	text-transform: uppercase;
	border: transparent;
	margin-bottom: 0;
	padding: 1.0rem 1.7rem;
}

.sign-up {
	color: #ffffff;
	background-color: #6c63ff;
	font-size: 1.8rem;
	transition-duration: 0.3s;

	&:hover {
		color: #ffffff;
		background-color: #4540a5;
		text-decoration: none;
	}

	&:active {
		transform: translateY(2px);
		outline: none;
		box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
	}

	.sign-up a {
		color: #ffffff;
		text-decoration: none;
	}
}

.register-button {
	background-color: #6cb0e2;
	color: #ffffff;
	font-size: 1.5rem;

	&:hover {
		color: #6cb0e2;
		background-color: #1867a0;
		color: #ffffff;
	}
}

.google-button {
	background-color: #fcbc03;
	text-decoration: none;
	color: #fff;
	border-radius: 3px;
	// border: 1px solid #fcbc03;
	font-size: 1.5rem;
	transition-duration: 0.3s;
	position: relative;

	&:hover {
		color: #fff;
		background-color: #ea4235;
	}

	&:active {
		transform: translateY(1px);
		outline: none;
		box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
	}
}

.google-button,
a {
	&:hover {
		text-decoration: none;
	}
}

.borrowBookBtn {
	background-color: #e5755b;
	color: #ffffff;
	border-radius: 3px;
	transition-duration: 0.3s;

	&:hover {
		background-color: #bf4d33;
		color: #ffffff;
		border-radius: 3px;
	}

	&:active {
		transform: translateY(-2px);
	}

	&:active,
	:focus {
		outline: none;
		box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
	}
}

.lendBookBtn {
	background-color: #1881dd;
	color: #ffffff;
	border-radius: 3px;
	transition-duration: 0.3s;

	&:hover {
		background-color: #025093;
		color: #ffffff;
		border-radius: 3px;
	}

	&:active {
		transform: translateY(-2px);
	}

	&:active,
	:focus {
		outline: none;
		box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
	}
}

.learnMoreBtn {
	background: #525252;
	transition-duration: 0.3s;

	a {
		color: #fff;
		line-height: inherit;
	}

	&:hover {
		background-color: #000;
		transition-duration: 0.3s;
	}

	&:active {
		transform: translateY(-2px);
	}

	&:focus {
		outline: none;
		box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
	}
}

.chatBtn {
	background-color: #fff;
	color: #000;
	transition-duration: 0.3s;

	&:hover {
		background-color: #7ca9e4;
		color: #fff;
	}

	&:active {
		transform: translateY(-2px);
	}

	&:active,
	:focus {
		outline: none;
		box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
	}
}

.availability {
	transition-duration: 0.3s;

	&.false {
		background: #f00;
		color: #fff;
	}

	&.true {
		background: #0f0;
	}

	&:active {
		background: #cacaca;
		transform: translateY(-2px);
	}

	&:active,
	&:focus {
		outline: none;
		box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
	}
}

.chat {
	background: #009bb4;
	color: #fff;
}
