.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.7px;
  line-height: 45px;
  padding: 0 35px 0 35px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.register-button {
  background-color: #6cb0e2;
  color: #ffffff;
  border: 2px solid #ffffff;

  &:hover {
    color: #6cb0e2;
    background-color: #fff;
    border: 2px solid #6cb0e2;
    border-radius: 3px;
  }
}

.google-button {
  background-color: #fbbc05;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #fbbc05;
  border-radius: 3px;

  &:hover {
    background-color: #fff;
    border: 1px solid #fbbc05;
    border-radius: 3px;
  }
}
