.container {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-top: 20px;
}

.form-container {
  width: 27%;
  display: flex;
  flex-direction: column;
  padding: 4% 4%;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #ffffff;
}

.form-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 200;
  text-align: center;
  padding-bottom: 10%;
}

label {
  text-align: start;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 5px;
  letter-spacing: 0.03rem;
}

input {
  border-radius: 3px;
  outline: none;
  padding: 8px 8px;
  border: 1px solid lightgray;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  margin-bottom: 5px;
}

input::placeholder {
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
  font-weight: 200;
}

.firstName,
.lastName,
.email,
.username,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastName,
.email,
.username,
.password {
  width: 100%;
}

.password {
  position: relative;
}

.register {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-link {
  font-size: 0.7rem;
  font-weight: 300;
  text-decoration: none;
  margin-top: 0.3rem;
}

.password-icon {
  position: absolute;
  color: #797779;
  top: 35px;
  right: 9px;
  cursor: pointer;
}

.or {
  margin-top: 12px;
  padding: 2%;
  font-size: 0.8rem;
}
