.container {
	width: 100%;
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #c5c5c2;
	margin-top: 15px;

	.form-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 2% 3%;
		border: 1px solid grey;
		border-radius: 3px;
		background-color: #ffffff;
	}

	.form-content {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.sign-up-title {
		width: 100%;
		font-size: 3rem;
		font-weight: 200;
		text-align: center;
		padding-bottom: 10%;
		text-transform: uppercase;
	}
	.reg-label {
		text-align: start;
		font-size: 1.2rem;
		font-weight: 300;
		margin-bottom: 3px;
		letter-spacing: 0.03rem;
	}

	.reg-input {
		border-radius: 3px;
		outline: none;
		padding: 8px 8px;
		border: 1px solid lightgray;
		font-size: 1.2rem;
		font-weight: 400;
		letter-spacing: 0.04rem;
		margin-bottom: 2px;

		.reg-input::placeholder {
			font-size: 1rem;
			letter-spacing: 0.04rem;
			font-weight: 200;
			color: lightgray;
		}
	}

	.firstName,
	.lastName,
	.email,
	.user-name,
	.password {
		display: flex;
		flex-direction: column;
		margin-bottom: 12px;
	}

	.firstName,
	.lastName,
	.email,
	.user-name,
	.password {
		width: 100%;
	}

	.password {
		position: relative;
	}

	.register {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.login-link {
		font-size: 1.1rem;
		font-weight: 300;
		text-decoration: none;
		margin-top: 0.7rem;
	}

	.password-icon {
		position: absolute;
		color: #797779;
		top: 33px;
		right: 9px;
		cursor: pointer;
	}

	.or {
		margin-top: 12px;
		padding: 2%;
		font-size: 1.1rem;
	}
}
