.submitForm {
    .password-icon {
        font-size: 1.4rem;
        position: relative;
        top: -36px;
        text-align: right;
        right: 20px;
    }

    i {
        cursor: pointer;
    }
}